<Card TextColor="App.CardTextColor" Background="App.CardBackground" Margin="Margin.Is1.FromBottom">
    <CardHeader>
        <Row>
            <Column ColumnSize="ColumnSize.IsAuto" Flex="Flex.JustifyContent.Center.Column">
                @Trophies.Data.Trophies.Count() Trophies
            </Column>
            @if (Trophies.Data.Trophies.Count() > 0)
            {
                <Column ColumnSize="ColumnSize.IsAuto">
                    <Button Color="App.DefaultButtonColor" @onclick="() => CardCollapsed = !CardCollapsed">
                        <span class="oi @(CardCollapsed ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                    </Button>
                </Column>
            }
        </Row>
    </CardHeader>
    <CardBody Class="@(CardCollapsed ? "collapse" : "")">
        @foreach (var award in Trophies.Data.Trophies.Select(_ => _.Data))
        {
            <TrophyCard AwardData="@award" />
        }
    </CardBody>
</Card>