<Paragraph>
    Delete @MultiRedditName?
</Paragraph>
<Buttons Width="Width.Is100">
    <Button Color="ThemeService.AppTheme.DefaultButtonColor"
            Border="ThemeService.AppTheme.Border"
            @onclick="CancelButton_OnClick">
        Cancel
    </Button>
    <Button Color="Color.Danger"
            @onclick="DeleteButton_OnClick">
        Delete
    </Button>
</Buttons>