@page "/settings"
@page "/settings/app"

<SettingsHeader ActiveTab="SettingsNavTab.AppSettings" />

@if (Settings == null)
{
    <Paragraph>Loading settings</Paragraph>
}
else
{
    <Validations Model="Settings" Mode="ValidationMode.Auto" ValidateOnLoad="false" StatusChanged="OnValidationsStatusChange" @ref="Validations">
        <Heading Size="HeadingSize.Is3">Interface</Heading>
        <Validation>
            <Field Margin="Margin.Is3.FromBottom">
                <Switch TValue="bool" @bind-Checked="Settings.DarkMode">Use dark mode</Switch>
            </Field>
        </Validation>
        <hr />
        
        <Button Color="Color.Primary" Margin="Margin.Is1.FromBottom" Disabled="SaveButtonDisabled" @onclick="HandleValidSubmit">Save</Button>
    </Validations>
}