@page "/settings"
@page "/settings/app"

<SettingsHeader ActiveTab="SettingsNavTab.AppSettings" />

@if (Settings == null)
{
    <Paragraph>Loading settings</Paragraph>
}
else
{
    <Validations Model="Settings"
             Mode="ValidationMode.Auto"
             ValidateOnLoad="false"
             StatusChanged="OnValidationsStatusChange"
             @ref="Validations">
        <Heading Size="HeadingSize.Is3">Interface</Heading>
        <Validation>
            <Field Margin="ThemeService.AppTheme.SpacingSeparate">
                <Switch TValue="bool"
                    @bind-Checked="Settings.DarkMode">
                    Use dark mode
                </Switch>
            </Field>
        </Validation>
        <hr />

        <Button Color="Color.Primary"
            Margin="ThemeService.AppTheme.SpacingSame"
            Disabled="SaveButtonDisabled"
            @onclick="HandleValidSubmit">
            Save
        </Button>
    </Validations>
}