@page "/settings/friends"

<SettingsHeader ActiveTab="SettingsNavTab.Friends" />

<Alert Color="Color.Primary"
       Visible>
    <AlertDescription>
        See your friends all together over at <AlertMessage><Anchor To="r/friends">/r/friends</Anchor></AlertMessage>
    </AlertDescription>
</Alert>

<Heading Size="HeadingSize.Is3">Add a friend</Heading>
<Addons Margin="ThemeService.AppTheme.SpacingSeparate">
    <Addon AddonType="AddonType.Body">
        <TextEdit Background="ThemeService.AppTheme.Background"
                  TextColor="ThemeService.AppTheme.TextColor"
                  Border="ThemeService.AppTheme.Border"
                  @bind-Text="NewFriend" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Primary"
                @onclick="NewFriendButtonOnClick">
            Add
        </Button>
    </Addon>
</Addons>

<Heading Size="HeadingSize.Is3">My Friends</Heading>
@if (MyFriends == null)
{
    <Paragraph>Loading friends list...</Paragraph>
}
else
{
    <UserList Users="@MyFriends"
          DateLabel="Friend added on" />
}
