@page "/settings/friends"

<SettingsHeader ActiveTab="SettingsNavTab.Friends" />

<div class="alert alert-primary" role="alert">
  See your friends all together over at <a href="r/friends" class="alert-link">/r/friends</a>
</div>

<EditForm Model="NewFriend" OnValidSubmit="HandleValidNewFriendSubmit">
	<h3>Add a friend</h3>
	<div class="input-group mb-3">	
		<InputText class="form-control" id="friendName" @bind-Value="NewFriend" />
        <button type="submit" class="btn btn-primary">Add</button>
	</div>
	@if (NewFriendSuccess != null)
	{
		@if (NewFriendSuccess ?? false)
		{
			<p class="text-success">New friend added</p>
		}
		else
		{
			<p class="text-danger">@NewFriendError</p>
		}
	}
</EditForm>

<h3>My Friends</h3>
@if (MyFriends == null)
{
	<p>Loading friends list...</p>
}
else
{
	<UserList Users="@MyFriends" DateLabel="Friend added on" />
}
