@page "/settings"
@page "/settings/friends"

<SettingsHeader ActiveTab="SettingsNavTab.Friends" />

<div class="alert alert-primary" role="alert">
  See your friends all together over at <a href="r/friends" class="alert-link">/r/friends</a>
</div>

<h3>My Friends</h3>
@if (MyFriends == null)
{
	<p>Loading friends list...</p>
}
else
{
	<UserList Users="@MyFriends" DateLabel="Friend added on" />
}
