@if (MultiRedditStates == null)
{
    <Paragraph>Loading MultiReddits...</Paragraph>
}
else
{
    @foreach (var multiRedditState in MultiRedditStates.OrderBy(_ => _.MultiReddit.Data.DisplayName))
    {
        <Card Background="App.CardBackground" TextColor="App.CardTextColor" Margin="Margin.Is1.FromBottom">
            <CardBody>
                <Row>
                    <Column ColumnSize="ColumnSize.IsAuto" Flex="Flex.JustifyContent.Center.Column">
                        <Check Checked="@multiRedditState.CurrentState"
                       @onchange="() => { MultiRedditSelectInput_OnChange(multiRedditState.MultiReddit.Data.Name); }" />
                    </Column>
                    <Column ColumnSize="ColumnSize.IsAuto" Flex="Flex.JustifyContent.Center.Column">
                        <Image Border="Border.Rounded" Class="multireddit-icon-img" Source="@multiRedditState.MultiReddit.Data.IconUrl" />
                    </Column>
                    <Column>
                        <CardTitle Size="4">
                            @multiRedditState.MultiReddit.Data.DisplayName
                        </CardTitle>
                        <CardSubtitle Size="6" TextColor="TextColor.Muted">
                            <span>@multiRedditState.MultiReddit.Data.Subreddits.Count communities</span>
                        </CardSubtitle>
                    </Column>
                </Row>
            </CardBody>
        </Card>
    }
    @if (CreateNewActive)
    {
        <Addons Margin="Margin.Is1.FromBottom">
            <Addon AddonType="AddonType.Body">
                <TextEdit Placeholder="New Multi Name" @bind-Text="NewMultiName" />
            </Addon>
            <Addon AddonType="AddonType.End">
                <Button Color="Color.Success" @onclick="CreateNewSubmittButton_OnClick">
                    Create
                </Button>
            </Addon>
        </Addons>
    }
    else
    {
        <Button Color="App.DefaultButtonColor" Width="Width.Is100" Margin="Margin.Is1.FromBottom"
        @onclick="() => CreateNewActive = !CreateNewActive">
            Create a new Multi
        </Button>
    }
    <Buttons Width="Width.Is100">
        <Button Color="App.DefaultButtonColor" @onclick="CancelButton_OnClick">
            Cancel
        </Button>
        <Button Color="Color.Success" @onclick="SaveButton_OnClick">
            Save
        </Button>
    </Buttons>
}
