<p>
    Delete @MultiRedditName?
</p>
<div class="btn-group" role="group" style="width: 100%;">
    <button type="button" class="btn btn-secondary" @onclick="CancelButton_OnClick">
        Cancel
    </button>
    <button type="button" class="btn btn-danger" @onclick="DeleteButton_OnClick">
        Delete
    </button>
</div>