<Validations Mode="ValidationMode.Auto" Model="UpdateModel" ValidateOnLoad="false" StatusChanged="OnValidationsStatusChange" @ref="Validations">
    <Blazorise.ValidationSummary />
    <Validation>
        <Field Margin="Margin.Is3.FromBottom">
            <FieldLabel>Name</FieldLabel>
            <TextEdit @bind-Text="UpdateModel.DisplayName" />
        </Field>
    </Validation>
    <Validation>
        <Field Margin="Margin.Is3.FromBottom">
            <FieldLabel>Description</FieldLabel>
            <MemoEdit Rows="3" @bind-Text="UpdateModel.DescriptionMd" />
        </Field>
    </Validation>
    @if (!HideVisibility)
    {
        <Validation>
            <Field Margin="Margin.Is3.FromBottom">
                <FieldLabel>Privacy</FieldLabel>
                <Select @bind-SelectedValue="UpdateModel.Visibility">
                    <SelectItem Value="@("private")">Private</SelectItem>
                    <SelectItem Value="@("public")">Public</SelectItem>
                </Select>
            </Field>
        </Validation>
    }
    <Buttons Width="Width.Is100">
        <Button Type="ButtonType.Button" Color="App.DefaultButtonColor" @onclick="CancelButton_OnClick">
            Cancel
        </Button>
        <Button Type="ButtonType.Submit" Color="Color.Success" Disabled="SaveButtonDisabled" @onclick="HandleValidSubmit">
            Save
        </Button>
    </Buttons>
</Validations>