@page "/account"

<h1>Account</h1>

<NavLink class="nav-link" href="account/karma-breakdown">
	Account - Karma Breakdown
</NavLink>

<NavLink class="nav-link" href="account/trophies">
	Account - Trophies
</NavLink>

<NavLink class="nav-link" href="account/friends">
	Account - Friends
</NavLink>

<NavLink class="nav-link" href="account/blocked">
	Account - Blocked
</NavLink>

<NavLink class="nav-link" href="account/trusted">
	Account - Trusted
</NavLink>
