.link-preview-row {
    max-width: 150px;
}

.link-preview-img {
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
    background-size: cover;
}

.link-content-img {
    width: auto;
}