<Card TextColor="ThemeService.AppTheme.TextColor"
      Background="ThemeService.AppTheme.Background"
      Margin="ThemeService.AppTheme.SpacingSame"
      Border="ThemeService.AppTheme.Border">
    <CardHeader Class="@(CardCollapsed ? "" : "border-secondary")">
        <Row>
            <Column ColumnSize="ColumnSize.IsAuto"
                    Flex="Flex.JustifyContent.Center.Column">
                @Trophies.Data.Trophies.Count() Trophies
            </Column>
            @if (Trophies.Data.Trophies.Count() > 0)
            {
                <Column ColumnSize="ColumnSize.IsAuto">
                    <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                        Border="ThemeService.AppTheme.Border"
                        @onclick="() => CardCollapsed = !CardCollapsed">
                        <span class="oi @(CardCollapsed ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                    </Button>
                </Column>
            }
        </Row>
    </CardHeader>
    @if (!CardCollapsed)
    {
        <CardBody>
            @foreach (var award in Trophies.Data.Trophies.Select(_ => _.Data))
            {
                <TrophyCard AwardData="@award" />
            }
        </CardBody>
    }
</Card>