@using System.Web

@if (Rule != null)
{
    <div class="card text-dark bg-light mb-1">
        <div class="card-body">
            <h4 class="card-title">
                @Rule.ShortName
                <span class="badge bg-primary me-1">
                    @Rule.Kind
                </span>
            </h4>
            <h6 class="card-subtitle text-muted mb-1">
                Created @Rule.CreatedUtc.ToLocalDateTime()
            </h6>
            @((MarkupString)HttpUtility.HtmlDecode(Rule.DescriptionHtml))
        </div>
    </div>
}