@if (Rules?.Rules?.Count > 0)
{
    <div class="card text-dark bg-light mb-1">
        <div class="card-header">
            <div class="row">
                <div class="col-auto d-flex justify-content-center flex-column">
                    @Rules.Rules.Count Rules
                </div>
                <div class="col-auto">
                    <button class="btn btn-light" @onclick="() => ContentCollapsed = !ContentCollapsed">
                        @if (ContentCollapsed)
                        {
                            <span class="oi oi-chevron-bottom"></span>
                        }
                        else
                        {
                            <span class="oi oi-chevron-top"></span>
                        }
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body @(ContentCollapsed ? "collapse" : "")">
            @foreach (var rule in Rules.Rules.OrderBy(_ => _.Priority))
            {
                <RuleCard Rule="@rule" />
            }
        </div>
    </div>
}