@if (Rules?.Rules?.Count > 0)
{
    <Card TextColor="ThemeService.AppTheme.TextColor"
      Background="ThemeService.AppTheme.Background"
      Margin="ThemeService.AppTheme.SpacingSame"
      Border="ThemeService.AppTheme.Border">
        <CardHeader Class="@(ContentCollapsed ? "" : "border-secondary")">
            <Row>
                <Column ColumnSize="ColumnSize.IsAuto"
                    Flex="Flex.JustifyContent.Center.Column">
                    @Rules.Rules.Count Rules
                </Column>
                <Column ColumnSize="ColumnSize.IsAuto">
                    <Button Color="ThemeService.AppTheme.DefaultButtonColor"
                        Border="ThemeService.AppTheme.Border"
                        @onclick="() => ContentCollapsed = !ContentCollapsed">
                        <span class="oi @(ContentCollapsed ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                    </Button>
                </Column>
            </Row>
        </CardHeader>
        @if (!ContentCollapsed)
        {
            <CardBody>
                @foreach (var rule in Rules.Rules.OrderBy(_ => _.Priority))
                {
                    <RuleCard Rule="@rule" />
                }
            </CardBody>
        }
    </Card>
}