@if (Rules?.Rules?.Count > 0)
{
    <Card TextColor="App.CardTextColor" Background="App.CardBackground" Margin="Margin.Is1.FromBottom">
        <CardHeader>
            <Row>
                <Column ColumnSize="ColumnSize.IsAuto" Flex="Flex.JustifyContent.Center.Column">
                    @Rules.Rules.Count Rules
                </Column>
                <Column ColumnSize="ColumnSize.IsAuto">
                    <Button Color="App.DefaultButtonColor" @onclick="() => ContentCollapsed = !ContentCollapsed">
                        <span class="oi @(ContentCollapsed ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
                    </Button>
                </Column>
            </Row>
        </CardHeader>
        @if (!ContentCollapsed)
        {
            <CardBody>
                @foreach (var rule in Rules.Rules.OrderBy(_ => _.Priority))
                {
                    <RuleCard Rule="@rule" />
                }
            </CardBody>
        }
    </Card>
}