@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.wideModal {
    width: 50rem;
    max-width: 100%;
}

.blazored-modal-header {
    padding-bottom: 0px !important;
}

h1, .h1 {
    font-size: 2.25rem;
    font-weight: bold;
}

h2, .h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3, .h3 {
    font-size: 1.25rem;
    font-weight: normal;
}

h4, .h4 {
    font-size: 1.125rem;
    font-weight: 600;
}

h5, .h5 {
    font-size: 1rem;
    font-weight: 600;
}

h6, .h6 {
    font-size: 0.875rem;
    font-weight: 600;
}

p, .p {
    line-height: 1.38;
}

.md-spoiler-text {
    background: black;
    color: transparent;
    cursor: help;
    user-select: none;
    transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;
    border-radius: 0.25rem;
}

    .md-spoiler-text:hover,
    .md-spoiler-text:focus {
        background: #e8e8e8;
        color: inherit;
    }

.link-preview-col {
    max-width: 150px;
    width: 25%;
}

.link-preview-img {
    background-position: center;
    background-repeat: no-repeat;
    background-color: gray;
    background-size: cover;
}

.link-content-img {
    width: auto;
}

.multireddit-icon-img {
    width: 50px;
    height: auto;
}

.multireddit-icon-col {
    max-width: 150px;
}

.subreddit-icon-col {
    max-width: 150px;
}

.user-profile-img {
    width: 100px;
    height: auto;
}

.award-img {
    height: 1em;
    width: auto;
}

.flair-emoji {
    height: 1em;
    width: auto;
}

.upvoted {
    color: orangered;
}

.downvoted {
    color: #7193ff;
}

.comment-border {
    border-left-color: rgb(108, 117, 125);
    border-left-width: 3px;
    border-left-style: solid;
}

.dark-modal {
    background-color: black !important;
    color: rgb(248, 249, 250) !important;
    border-color: black !important;
}
