::deep .md-spoiler-text {
    background: black;
    color: transparent;
    cursor: help;
    user-select: none;
    transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;
    border-radius: 0.25rem;
}

    ::deep .md-spoiler-text:hover,
    ::deep .md-spoiler-text:focus {
        background: #e8e8e8;
        color: inherit;
    }

.upvoted {
    color: darkorange;
}

.downvoted {
    color: darkblue;
}