@page "/"
@page "/best"

<LinkListingNavTabs ActiveTab="LinkListingTabs.Best" />

@if (Links == null)
{
    <p>Loading the best of Reddit...</p>
}
else
{
    <LinkList Links="@Links" />

    <LinkListingPagination After="@Links?.Data?.After"
                       Before="@Links?.Data?.Before"
                       CurrentPageParameters="@LinkListingHelpers.BuildListingParameters(After, Before, Count, Limit)"
                       RelativeUrl="/best" />
}