@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<NavLink class="nav-link" href="account/karma-breakdown">
	Account - Karma Breakdown
</NavLink>

<NavLink class="nav-link" href="account/trophies">
	Account - Trophies
</NavLink>
