@page "/multis"

<h2>MultiReddits</h2>

@if (MultiReddits == null)
{
    <p>Loading...</p>
}
else
{
    <button class="btn btn-primary mb-1" @onclick="NewMultiRedditButton_OnClick">
        New MultiReddit
    </button>
    <MultiRedditList MultiReddits="@MultiReddits"
                 OnMultiRedditDelete="OnMultiRedditDelete"
                 OnMultiRedditCopy="OnMultiRedditCopy"/>
}
