@page "/multis"

<Row>
    <Column>
        <Heading Size="HeadingSize.Is2">MultiReddits</Heading>
    </Column>
    @if (RedditService.LoggedIn)
    {
        <Column ColumnSize="ColumnSize.IsAuto">
            <Button Color="Color.Primary" Margin="Margin.Is1.FromBottom" @onclick="NewMultiRedditButton_OnClick">
                New MultiReddit
            </Button>
        </Column>
    }
</Row>

@if (MultiReddits == null)
{
    <Paragraph>Loading...</Paragraph>
}
else
{
    <MultiRedditList MultiReddits="@MultiReddits"
                 OnMultiRedditDelete="OnMultiRedditDelete"
                 OnMultiRedditCopy="OnMultiRedditCopy" />
}
