@page "/u/{userName}"
@page "/user/{userName}"

@if (Account == null)
{
    <h2>@UserName</h2>
    <p>Loading profile...</p>
}
else
{
    <UserCard AccountData="@Account.Data" />
}

@if (Trophies == null)
{
    <p>Loading trophies...</p>
}
else
{
    <TrophiesCard Trophies="@Trophies" />
}

<hr />

@if (Overview == null)
{
    <p>Loading overview...</p>
}
else 
{
    <LinkOrCommentList Listing="@Overview" />
}