@using RedditDotNet.Models

<CardSubtitle Size="6" TextColor="TextColor.Muted" Margin="Margin.Is1.FromBottom">
    @foreach (Awarding award in Data)
    {
        <Span Margin="Margin.Is1.FromEnd">
            <Image Source="@award.IconUrl"
               Text="@award.Description"
               Class="award-img" />
            <Span>
                @award.Count
            </Span>
        </Span>
    }
</CardSubtitle>