<ul class="pagination mt-2">
    @if (!string.IsNullOrWhiteSpace(Before))
    {
        <li class="page-item">
            <a class="page-link" href="@BuildPreviousPageUrl().Result">Previous</a>
        </li>
    }
    @if (!string.IsNullOrWhiteSpace(After))
    {
        <li class="page-item">
            <a class="page-link" href="@BuildNextPageUrl().Result">Next</a>
        </li>
    }
</ul>