<ul class="pagination justify-content-center mt-2">
    @if (!string.IsNullOrWhiteSpace(Before))
    {
        <li class="page-item">
            <a class="page-link" href="@LinkListingHelpers.BuildPreviousPageUrl(RelativeUrl, Before, CurrentPageParameters).Result">Previous</a>
        </li>
    }
    @if (!string.IsNullOrWhiteSpace(After))
    {
        <li class="page-item">
            <a class="page-link" href="@LinkListingHelpers.BuildNextPageUrl(RelativeUrl, After, CurrentPageParameters).Result">Next</a>
        </li>
    }
</ul>