<Bar @bind-Visible="@NavMenuCollapsed" Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Desktop"
     Background="Background.Dark" ThemeContrast="ThemeContrast.Dark" Margin="Margin.Is4.FromBottom">
    <Container Fluid>
        <BarBrand>
            <Anchor To="" TextColor="TextColor.Light" Class="text-decoration-none">
                @Configuration["BrandName"]
            </Anchor>
        </BarBrand>
        <BarToggler />
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="subreddits" Match="Match.Prefix">
                        Subreddits
                    </BarLink>
                </BarItem>
            </BarStart>
            <BarEnd>
                @if (RedditService.LoggedIn)
                {
                    <BarItem>
                        <BarDropdown>
                            <BarDropdownToggle>
                                @RedditService.Identity?.Name
                            </BarDropdownToggle>
                            <BarDropdownMenu Class="dropdown-menu-dark">
                                <BarDropdownItem To="@($"user/{RedditService.Identity?.Name}")" Match="Match.Prefix">
                                    Profile
                                </BarDropdownItem>
                                <BarDropdownItem To="multis">
                                    MultiReddits
                                </BarDropdownItem>
                                <BarDropdownItem To="settings" Match="Match.Prefix">
                                    Settings
                                </BarDropdownItem>
                                <BarDropdownItem To="logout">
                                    Log Out
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                    </BarItem>
                }
                else
                {
                    <BarItem>
                        <Button Color="Color.Primary" @onclick="LoginButtonOnClick">
                            Log In
                        </Button>
                    </BarItem>
                }
            </BarEnd>
        </BarMenu>
    </Container>
</Bar>