<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Redzor</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item" @onclick="CloseNavMenu">
                    <NavLink class="nav-link" href="subreddits">
                        Subreddits
                    </NavLink>
                </li>
                @if (RedditService.LoggedIn)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @RedditService.Identity?.Name
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li @onclick="CloseNavMenu">
                                <NavLink class="dropdown-item" href="@($"user/{RedditService.Identity?.Name}")">
                                    Profile
                                </NavLink>
                            </li>
                            <li @onclick="CloseNavMenu">
                                <NavLink class="dropdown-item" href="multis">
                                    MultiReddits
                                </NavLink>
                            </li>
                            <li @onclick="CloseNavMenu">
                                <NavLink class="dropdown-item" href="settings">
                                    Settings
                                </NavLink>
                            </li>
                            <li @onclick="CloseNavMenu">
                                <NavLink class="dropdown-item" href="logout">
                                    Log Out
                                </NavLink>
                            </li>
                        </ul>
                    </li>

                }
                else
                {
                    <li class="nav-item" @onclick="CloseNavMenu">
                        <NavLink class="btn btn-primary" role="button" href="login">
                            Log In
                        </NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>