@if (Users.Data.Children.Count > 0)
{
    @foreach (var user in Users.Data.Children)
    {
        <div class="card text-dark bg-light mb-1">
            <div class="card-body">
                <h5 class="card-title">@user.Name</h5>
                <p class="card-text">@DateLabel @user.DateDateTime.ToString()</p>
            </div>
        </div>
    }
}
else
{
    <p>No users to display</p>
}