@inherits LayoutComponentBase
@inject AppThemeService ThemeService

<NavMenu />

<Container TextColor="ThemeService.AppTheme.TextColor">
	<Div Class="main">
		@Body
	</Div>
</Container>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomCenter" />

@if (ThemeService.AppTheme.DarkMode)
{
	<style>
		body {
			background-color: black;
		}
	</style>
}
else
{
	<style>
		body {
			background-color: white;
		}
	</style>
}