@page "/settings/friends"

<SettingsHeader ActiveTab="SettingsNavTab.Friends" />

<Alert Color="Color.Primary"
       Visible>
    <AlertDescription>
        See your friends all together over at <AlertMessage><Anchor To="r/friends">/r/friends</Anchor></AlertMessage>
    </AlertDescription>
</Alert>

<Heading Size="HeadingSize.Is3">Add a friend</Heading>
<Addons Margin="ThemeService.AppTheme.SpacingSeparate">
    <Addon AddonType="AddonType.Body">
        <TextEdit Background="ThemeService.AppTheme.Background"
                  TextColor="ThemeService.AppTheme.TextColor"
                  Border="ThemeService.AppTheme.Border"
                  Placeholder="New friend username"
                  @bind-Text="NewFriend"
                  @onkeypress="OnAddSubmit" />
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Primary"
                @onclick="NewFriendButtonOnClick">
            Add
        </Button>
    </Addon>
</Addons>

<Heading Size="HeadingSize.Is3">My Friends</Heading>
@if (MyFriends == null)
{
    <Paragraph>Loading friends list...</Paragraph>
}
else
{
    @if (MyFriends.Data.Children.Count > 0)
    {
        @foreach (var user in MyFriends.Data.Children)
        {
            <Card TextColor="ThemeService.AppTheme.TextColor"
      Background="ThemeService.AppTheme.Background"
      Margin="ThemeService.AppTheme.SpacingSame"
      Border="ThemeService.AppTheme.Border">
                <CardBody>
                    <Row>
                        <Column>
                            <CardTitle Size="5">@user.Name</CardTitle>
                            <CardSubtitle Size="6"
                              TextColor="TextColor.Muted"
                              Margin="ThemeService.AppTheme.SpacingSame">
                                <Anchor Class="text-decoration-none"
                            To="@($"/user/{user.Name}")">
                                    /u/@user.Name
                                </Anchor>
                            </CardSubtitle>
                            <CardText>Friend added on @user.DateDateTime.ToString()</CardText>
                        </Column>
                        <Column ColumnSize="ColumnSize.IsAuto"
                    Flex="Flex.JustifyContent.Center.Column">
                            <Button Color="Color.Danger"
                        @onclick="() => RemoveFriendButtonOnClick(user)">
                                Remove
                            </Button>
                        </Column>
                    </Row>
                </CardBody>
            </Card>
        }
    }
    else
    {
        <Paragraph>No users to display</Paragraph>
    }
}
